<a href="https://colab.research.google.com/github/ChristinaB092/github-portfolio/blob/main/Christina_Bowins_COMP_3140_Assignment9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv('SampleAssignment9.csv')
print(df)

      TNumber Lastname  Firstname        Major Classification   GPA     ACT
0   T00111111    Jones      Chris           CS         Senior  3.50    32.0
1   T00121212     Dodd      David  Mathematics         Junior  3.45    29.0
2   T00123456    Brown  Cassandra      History      Sophomore  2.97    31.0
3   T00616654    Bowie       John  Engineering        Frehman  3.21    28.0
4   T00345678  Boyland    Jeffrey          NaN         Senior  3.87    34.0
5   T00232323   Wilson    Rebecca  Mathematics         Senior  2.52    30.0
6   T00345678  Boyland    Jeffrey           CS         Senior  3.87    34.0
7   T00121212     Dodd      David  Mathematics         Junior  3.45    29.0
8   T00567234      NaN  Cassandra          NaN      Sophomore  2.97    31.0
9   T00001223    Bowie       Emir      Physics        Frehman  3.21  3078.0
10  T00047902  Boyland       Mert           CS         Senior  3.87     NaN
11  T00233498   Wilson    Rebecca    Chemistry         Senior  1.87    30.0

In [ ]:
import pandas as pd
df = pd.read_csv('SampleAssignment9.csv', index_col = 0)
print(df)

          Lastname  Firstname        Major Classification   GPA     ACT
TNumber
T00111111    Jones      Chris           CS         Senior  3.50    32.0
T00121212     Dodd      David  Mathematics         Junior  3.45    29.0
T00123456    Brown  Cassandra      History      Sophomore  2.97    31.0
T00616654    Bowie       John  Engineering        Frehman  3.21    28.0
T00345678  Boyland    Jeffrey          NaN         Senior  3.87    34.0
T00232323   Wilson    Rebecca  Mathematics         Senior  2.52    30.0
T00345678  Boyland    Jeffrey           CS         Senior  3.87    34.0
T00121212     Dodd      David  Mathematics         Junior  3.45    29.0
T00567234      NaN  Cassandra          NaN      Sophomore  2.97    31.0
T00001223    Bowie       Emir      Physics        Frehman  3.21  3078.0
T00047902  Boyland       Mert           CS         Senior  3.87     NaN
T00233498   Wilson    Rebecca    Chemistry         Senior  1.87    30.0

In [ ]:
import pandas as pd
df = pd.read_csv('SampleAssignment9.csv')
print(df.head(4))

     TNumber Lastname  Firstname        Major Classification   GPA   ACT
0  T00111111    Jones      Chris           CS         Senior  3.50  32.0
1  T00121212     Dodd      David  Mathematics         Junior  3.45  29.0
2  T00123456    Brown  Cassandra      History      Sophomore  2.97  31.0
3  T00616654    Bowie       John  Engineering        Frehman  3.21  28.0

In [ ]:
import pandas as pd
df = pd.read_csv('SampleAssignment9.csv')
print(df.tail(4))

      TNumber Lastname  Firstname      Major Classification   GPA     ACT
8   T00567234      NaN  Cassandra        NaN      Sophomore  2.97    31.0
9   T00001223    Bowie       Emir    Physics        Frehman  3.21  3078.0
10  T00047902  Boyland       Mert         CS         Senior  3.87     NaN
11  T00233498   Wilson    Rebecca  Chemistry         Senior  1.87    30.0

In [ ]:
import pandas as pd
df = pd.read_csv('SampleAssignment9.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   TNumber         12 non-null     object
 1   Lastname        11 non-null     object
 2   Firstname       12 non-null     object
 3   Major           10 non-null     object
 4   Classification  12 non-null     object
 5   GPA             12 non-null     float64
 6   ACT             11 non-null     float64
dtypes: float64(2), object(5)
memory usage: 800.0+ bytes
None

In [ ]:
import pandas as pd
df = pd.read_csv('SampleAssignment9.csv')
print(df)
df.shape

      TNumber Lastname  Firstname        Major Classification   GPA     ACT
0   T00111111    Jones      Chris           CS         Senior  3.50    32.0
1   T00121212     Dodd      David  Mathematics         Junior  3.45    29.0
2   T00123456    Brown  Cassandra      History      Sophomore  2.97    31.0
3   T00616654    Bowie       John  Engineering        Frehman  3.21    28.0
4   T00345678  Boyland    Jeffrey          NaN         Senior  3.87    34.0
5   T00232323   Wilson    Rebecca  Mathematics         Senior  2.52    30.0
6   T00345678  Boyland    Jeffrey           CS         Senior  3.87    34.0
7   T00121212     Dodd      David  Mathematics         Junior  3.45    29.0
8   T00567234      NaN  Cassandra          NaN      Sophomore  2.97    31.0
9   T00001223    Bowie       Emir      Physics        Frehman  3.21  3078.0
10  T00047902  Boyland       Mert           CS         Senior  3.87     NaN
11  T00233498   Wilson    Rebecca    Chemistry         Senior  1.87    30.0

(12, 7)

In [ ]:
import pandas as pd
df = pd.read_csv('SampleAssignment9.csv')
df.dropna(inplace = True)
print(df)

      TNumber Lastname  Firstname        Major Classification   GPA     ACT
0   T00111111    Jones      Chris           CS         Senior  3.50    32.0
1   T00121212     Dodd      David  Mathematics         Junior  3.45    29.0
2   T00123456    Brown  Cassandra      History      Sophomore  2.97    31.0
3   T00616654    Bowie       John  Engineering        Frehman  3.21    28.0
5   T00232323   Wilson    Rebecca  Mathematics         Senior  2.52    30.0
6   T00345678  Boyland    Jeffrey           CS         Senior  3.87    34.0
7   T00121212     Dodd      David  Mathematics         Junior  3.45    29.0
9   T00001223    Bowie       Emir      Physics        Frehman  3.21  3078.0
11  T00233498   Wilson    Rebecca    Chemistry         Senior  1.87    30.0

In [ ]:
import pandas as pd
df = pd.read_csv('SampleAssignment9.csv')
df.dropna(subset = ['Major'], inplace = True)
print(df)

      TNumber Lastname  Firstname        Major Classification   GPA     ACT
0   T00111111    Jones      Chris           CS         Senior  3.50    32.0
1   T00121212     Dodd      David  Mathematics         Junior  3.45    29.0
2   T00123456    Brown  Cassandra      History      Sophomore  2.97    31.0
3   T00616654    Bowie       John  Engineering        Frehman  3.21    28.0
5   T00232323   Wilson    Rebecca  Mathematics         Senior  2.52    30.0
6   T00345678  Boyland    Jeffrey           CS         Senior  3.87    34.0
7   T00121212     Dodd      David  Mathematics         Junior  3.45    29.0
9   T00001223    Bowie       Emir      Physics        Frehman  3.21  3078.0
10  T00047902  Boyland       Mert           CS         Senior  3.87     NaN
11  T00233498   Wilson    Rebecca    Chemistry         Senior  1.87    30.0

In [ ]:
import pandas as pd
df = pd.read_csv('SampleAssignment9.csv')
df.dropna(axis = 1, inplace = True)
print(df)

      TNumber  Firstname Classification   GPA
0   T00111111      Chris         Senior  3.50
1   T00121212      David         Junior  3.45
2   T00123456  Cassandra      Sophomore  2.97
3   T00616654       John        Frehman  3.21
4   T00345678    Jeffrey         Senior  3.87
5   T00232323    Rebecca         Senior  2.52
6   T00345678    Jeffrey         Senior  3.87
7   T00121212      David         Junior  3.45
8   T00567234  Cassandra      Sophomore  2.97
9   T00001223       Emir        Frehman  3.21
10  T00047902       Mert         Senior  3.87
11  T00233498    Rebecca         Senior  1.87

In [ ]:
import pandas as pd
df = pd.read_csv('SampleAssignment9.csv')
mean_ACT = df['ACT'].mean()
df['ACT'].fillna(mean_ACT, inplace = True)
print(df)

      TNumber Lastname  Firstname        Major Classification   GPA  \
0   T00111111    Jones      Chris           CS         Senior  3.50
1   T00121212     Dodd      David  Mathematics         Junior  3.45
2   T00123456    Brown  Cassandra      History      Sophomore  2.97
3   T00616654    Bowie       John  Engineering        Frehman  3.21
4   T00345678  Boyland    Jeffrey          NaN         Senior  3.87
5   T00232323   Wilson    Rebecca  Mathematics         Senior  2.52
6   T00345678  Boyland    Jeffrey           CS         Senior  3.87
7   T00121212     Dodd      David  Mathematics         Junior  3.45
8   T00567234      NaN  Cassandra          NaN      Sophomore  2.97
9   T00001223    Bowie       Emir      Physics        Frehman  3.21
10  T00047902  Boyland       Mert           CS         Senior  3.87
11  T00233498   Wilson    Rebecca    Chemistry         Senior  1.87

            ACT
0     32.000000
1     29.000000
2     31.000000
3     28.000000
4     34.000000
5     30.000000
6     34.000000
7     29.000000
8     31.000000
9   3078.000000
10   307.818182
11    30.000000

In [ ]:
import pandas as pd
df = pd.read_csv('SampleAssignment9.csv')
mode_Major = df['Major'].mode()
df['Lastname'].fillna('Jones', inplace = True)
df['Major'].fillna(mode_Major[0], inplace = True)
print(df)

      TNumber Lastname  Firstname        Major Classification   GPA     ACT
0   T00111111    Jones      Chris           CS         Senior  3.50    32.0
1   T00121212     Dodd      David  Mathematics         Junior  3.45    29.0
2   T00123456    Brown  Cassandra      History      Sophomore  2.97    31.0
3   T00616654    Bowie       John  Engineering        Frehman  3.21    28.0
4   T00345678  Boyland    Jeffrey           CS         Senior  3.87    34.0
5   T00232323   Wilson    Rebecca  Mathematics         Senior  2.52    30.0
6   T00345678  Boyland    Jeffrey           CS         Senior  3.87    34.0
7   T00121212     Dodd      David  Mathematics         Junior  3.45    29.0
8   T00567234    Jones  Cassandra           CS      Sophomore  2.97    31.0
9   T00001223    Bowie       Emir      Physics        Frehman  3.21  3078.0
10  T00047902  Boyland       Mert           CS         Senior  3.87     NaN
11  T00233498   Wilson    Rebecca    Chemistry         Senior  1.87    30.0

In [ ]:
import pandas as pd
df = pd.read_csv('SampleAssignment9.csv')
df[["Major", 'ACT', 'GPA']].describe(include=['object','int','float'])

       Major          ACT        GPA
count     10    11.000000  12.000000
unique     6          NaN        NaN
top       CS          NaN        NaN
freq       3          NaN        NaN
mean     NaN   307.818182   3.230000
std      NaN   918.767415   0.594536
min      NaN    28.000000   1.870000
25%      NaN    29.500000   2.970000
50%      NaN    31.000000   3.330000
75%      NaN    33.000000   3.592500
max      NaN  3078.000000   3.870000

In [ ]:
import pandas as pd
df = pd.read_csv('SampleAssignment9.csv')
for i in df.index:
  if df.loc[i, 'ACT'] < 33 and df.loc[i, 'Classification'] == 'Senior':
    df.drop(i, inplace = True)
print(df)

      TNumber Lastname  Firstname        Major Classification   GPA     ACT
1   T00121212     Dodd      David  Mathematics         Junior  3.45    29.0
2   T00123456    Brown  Cassandra      History      Sophomore  2.97    31.0
3   T00616654    Bowie       John  Engineering        Frehman  3.21    28.0
4   T00345678  Boyland    Jeffrey          NaN         Senior  3.87    34.0
6   T00345678  Boyland    Jeffrey           CS         Senior  3.87    34.0
7   T00121212     Dodd      David  Mathematics         Junior  3.45    29.0
8   T00567234      NaN  Cassandra          NaN      Sophomore  2.97    31.0
9   T00001223    Bowie       Emir      Physics        Frehman  3.21  3078.0
10  T00047902  Boyland       Mert           CS         Senior  3.87     NaN

In [ ]:
import pandas as pd
df = pd.read_csv('SampleAssignment9.csv')
df.drop_duplicates(inplace = True)
print(df)

      TNumber Lastname  Firstname        Major Classification   GPA     ACT
0   T00111111    Jones      Chris           CS         Senior  3.50    32.0
1   T00121212     Dodd      David  Mathematics         Junior  3.45    29.0
2   T00123456    Brown  Cassandra      History      Sophomore  2.97    31.0
3   T00616654    Bowie       John  Engineering        Frehman  3.21    28.0
4   T00345678  Boyland    Jeffrey          NaN         Senior  3.87    34.0
5   T00232323   Wilson    Rebecca  Mathematics         Senior  2.52    30.0
6   T00345678  Boyland    Jeffrey           CS         Senior  3.87    34.0
8   T00567234      NaN  Cassandra          NaN      Sophomore  2.97    31.0
9   T00001223    Bowie       Emir      Physics        Frehman  3.21  3078.0
10  T00047902  Boyland       Mert           CS         Senior  3.87     NaN
11  T00233498   Wilson    Rebecca    Chemistry         Senior  1.87    30.0

In [ ]:
import pandas as pd
df = pd.read_csv('SampleAssignment9.csv')
df.query("Classification == 'Senior' and GPA > 3 and ACT > 33", inplace = True)
print(df)

     TNumber Lastname Firstname Major Classification   GPA   ACT
4  T00345678  Boyland   Jeffrey   NaN         Senior  3.87  34.0
6  T00345678  Boyland   Jeffrey    CS         Senior  3.87  34.0